.sign-in{
    font-family: 'Kumbh Sans', sans-serif;
    margin: 40px;
    padding: 0 190px 0 190px;
}

.sign-in-heading{
    font-family: 'Kumbh Sans', sans-serif;
    text-align: center;
    color: #9e9e9e;
}